<body>
    <div class="contenedor">
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="inscription-form" method="post">
            <div class="title">
                <h1>¡Inscríbite y reserva tu lugar ahora!</h1>
            </div>

            <div class="field" style="margin-top: 48px;">                
                <label class="field_name">Nombre</label><br>
                <input class="box" type="text" formControlName="name">
            </div>
            
            <div class="field">
                <label class="field_name">Apellido</label><br>
                <input class="box" type="text" formControlName="last_name">
            </div>
            
            <div class="field">
                <label class="field_name">Correo electrónico del trabajo</label>
                <input class="box" type="text" formControlName="email">
            </div>                             
            
            <div class="field">
                <label class="field_name">País</label><br>
                <select class="box" formControlName="country">
                    <option value="Argentina">Argentina</option>
                    <option value="Brasil" selected>Brasil</option>
                    <option value="Perú">Perú</option>
                  </select>
            </div>
            
            <div class="field">
                <label class="field_name">Número de teléfono</label><br>
                <input class="box" type="phone" formControlName="phone">
            </div>
            
            <div class="field">
                <label class="field_name">Puesto del trabajo</label><br>
                <input class="box" type="text" formControlName="job">
            </div>                                                           

            <div class="field">
                <button class="submit" type="submit">
                    Inscríbete
                </button>
            </div>
        </form>
    </div>   
</body>