#body{
    background-color: orange;
    min-height: 48.3%;
    max-width: 32.2%;
}

#inscription{
    font-family: "SharpSansNo1-Bold";
}

/* *{
margin-top: 120px;
} */

#box{
    background: red;
    border: 1px solid #68737D;
}