.container{
    display: flex; 
    flex-wrap: wrap;
    max-width: 100%;
    margin-top: 100px;
}
.sub{
    display: flex; 
    flex-wrap: wrap;
}
.año{
    font-family: ProximaNova-Regular;
    font-size: 16px;
    color: #405457;
    letter-spacing: 0;
    margin-left: 140px;
    height: 20px;
    width: 60px;
}

@media screen and (min-width:2400px){
    .año{
        margin-left: 620px;
    }
    .logos{
        margin-left: 760px;
    }
    .sub{
        margin-top: 24px;
    }
    }

@media screen and (min-width:920px) and (max-width:2400px){
.año{
    margin-left: 240px;
}
.logos{
    margin-left: 760px;
}
.sub{
    margin-top: 24px;
}
}
@media screen and (min-width:480px) and (max-width:920px){
.sub{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.año{
    letter-spacing: 0;
    text-align: center;
    margin-left: 0px;
}   
.logos{
    margin-left: 0px;
    margin-top: 10px;
}
.logos-footer{
    width: 100%;
    margin-left: 0px;
}
}
        
@media screen and (max-width:480px){
.body{
    margin-top: 70px;
}
.container{
    margin-top: 225px;
}
.sub{
    display: flex; 
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
}
.año{
    letter-spacing: 0;
    text-align: center;
    margin-left: 0px;
}   
.logos{
    margin-left: 0px;
    margin-top: 10px;
}
}