<body>
    <div class="contenedor">
        <div class="cont-button">
            <div class="button">
                <p>WEBINAR</p>
            </div>
        </div>
        <div class="text">
            <div class="title">
                <p>El reto de humanizar el CX financiero en 2021.</p>
            </div>
            <div class="sub-title">
                <p>La experiencia de un Unicornio de Latam</p>
            </div>        
            <div class="fecha">
                <p>MIÉRCOLES 16 DE DICIEMBRE|17HS (HORARIO DE QUITO)</p>
            </div>            
        </div>
    </div>
</body>